img_chara_01.png
おやじっち.jpg
ぎんじろっち.png
img/jpg/くちたまっち.png
img/jpg/くちぱっち.jpg
img/jpg/たまご.jpg
img/jpg/たまごっち.jpg
img/jpg/たまっち.jpg
img/jpg/たらこっち.jpg
img/jpg/にょろっち.jpg
img/jpg/べびっち.jpg
img/jpg/ますくっち.jpg
img/jpg/まめっち.jpg
img/jpg/まるっち.jpg
img/jpg/キャラクター一覧.jpg
img/png（元データ）/おやじっち.png
img/png（元データ）/くちたまっち.png
img/png（元データ）/くちぱっち.png
img/png（元データ）/たまご.png
img/png（元データ）/たまごっち.png
img/png（元データ）/たまっち.png
img/png（元データ）/たらこっち.png
img/png（元データ）/にょろっち.png
img/png（元データ）/べびっち.png
img/png（元データ）/ますくっち.png
img/png（元データ）/まめっち.png
img/png（元データ）/まるっち.png
img/png（元データ）/キャラクター一覧.png
img/png（元データ）/進化図.png
